alembic==1.7.6
annotated-types==0.7.0
attrs==21.4.0
bcrypt==3.2.0
bleach==4.1.0
cffi
click==8.0.4
dnspython
email_validator==2.2.0
Flask
Flask-Login
Flask-WTF
greenlet
idna==3.10
iniconfig==1.1.1
itsdangerous==2.1.0
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe
marshmallow==3.14.1
packaging==21.3
pluggy==1.0.0
psycopg2-binary==2.9.9
py==1.11.0
pycparser==2.21
pydantic==2.9.2
pydantic_core==2.23.4
pyparsing==3.0.7
pytest==7.0.1
python-dotenv==0.19.2
six==1.16.0
SQLAlchemy
tomli==2.0.1
typing_extensions==4.12.2
webencodings==0.5.1
Werkzeug==2.0.3
WTForms